$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 500px;
  padding: 10px;
  background: $backgroundColor;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: .25rem .5rem;
        background: #ccc;

        &:hover, &.active {
          background: #fff;
        }
      }
    }
  }
}

textarea{
  width: 100%;
  height: 100px;
}
input{
  width: 100%;
}